bitvector-for-humans==0.14.1
busylight-for-humans==0.33.0
click==8.1.7
hidapi==0.14.0.post4
loguru==0.7.3
markdown-it-py==3.0.0
mdurl==0.1.2
pyasn1==0.6.1
Pygments==2.18.0
pyserial==3.5
rich==13.9.4
rsa==4.9
setuptools==75.6.0
shellingham==1.5.4
six==1.17.0
typer==0.14.0
typing_extensions==4.12.2
webcolors==24.11.1
wxPython==4.2.2
